body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-card .card-body.bg-danger {
  background-color: #dc3545 !important;
  color: white !important;
}

.task-card .card-body.bg-warning {
  background-color: #ffc107 !important;
  color: black !important;
}
